.body{
    text-align: center;
}
.doan1{
    color: red;
    font-style: italic;
}
.doan2{
    color: blue;
    font-style: italic;
}
.doan3{
    color: green;
    font-style: italic;
}
.doan4{
    color: red;
    font-style: italic;
}
.menu{
    color: red;
    font-style: italic;
}