body{
    background-color:ghostwhite;
}
.nav{
    margin-top: -5px;
    margin-bottom: 2px;
    background-color: rgb(242, 86, 30);
    display: flex;
    justify-content: flex-end;
    border: 1px solid black;
}
.nav-list{
    padding-left: 0;
    margin: 4px 10px;
    font-size: larger;
    font-variant: small-caps;
}
.nav-item{
    color: white;
    list-style: none;
    margin: 5px 10px;
    display: inline-block;
}
.time-run{
    border: 1px solid rgb(242, 86, 30);
    font-size: large;
    font-variant: normal;
    display: flex;
    justify-content: space-between;
    color:rgb(242, 86, 30);
}
.time{
    border-right: 1px  solid rgb(242, 86, 30);;
    padding: 5px;

}
.chuchay{
    font-size: larger;
    font-style: italic;
    color: orangered;
}
.menu{
    background-color: rgb(242, 86, 30);
    display: flex;
    justify-content: center;
    border-bottom: 1px  solid black;
    font-size: larger;
    font-style: italic;
    text-decoration: noe;
}
.menu-list{

}
.menu-item{
    color: white;
    list-style: none;
    margin: 2px 6px;
    display: inline-block;
}
.tieu-de{
    background:orangered;
}
.tieu-de>h1{
    margin: 10px 0px 10px 0px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    position: relative;
}
footer{
    text-align: center;
    background-color: rgb(242, 86, 30);
    padding-top: 50px;
    padding-bottom: 40px;
    overflow: hidden;
    font-size: 20px;
}
.first{
    display: flex;
    margin: 20px 10px 20px 10px;
    
}
.second{
    display: flex;
    justify-content:space-between;
    text-align: justify;
    margin:20px 0px 20px 100px;
    border-radius: 1px solid black;
}    
.third{
    display: flex;
    justify-content:space-between;
    text-align: justify;
    margin:20px -10px 20px 100px;
}